.App{
    height: 100%;
    background-color: #B7A6B5;
}
a {
    text-decoration: none;
    
}

 #contact-home-button, #projects-home-button{
    color: #FFFFFF;
}

#mobile-nav-link{
    color: #B7A6B5;
}
